# **Video Games Sales Data Analysis**

 Data was obtained from Kaggle. Credit goes to Gregory Smith, who created a .csv file of best selling video games from 1980-2016.


### **Table notes:**
*All sales are in millions 

*If game was released on multiple platforms, there is a seperate record for every platform it was released on


url = https://www.kaggle.com/datasets/gregorut/videogamesales

### **Hypothesis:**

 I thought this was a cool data set when I came across it on Kaggle. I kept trying to find another data set that was a little more recent since this only keeps track of sales until 2016 but was unable to do so. With that being said with 36 years of sales data from the top regions in the world I'm sure there's plenty of valuable insights to gain. By no means would anyone consider me a gaming expert but video games were a staple in my childhood. I always had Playstation consoles, something about Spyro sucked me in when what can I say, but through friends I've played numerous different consoles and games so I think I have decent understanding of the subject heading into this but I'm sure I'm going to be suprised by alot.

Top assumptions about data before diving in:


>* Nintendo will reign supreme in Asian territories and most likely be top selling publisher 

>* Playstation 4 (PS4) will have the most sales among all the different platforms (**note: this isn't unit sales of individual consoles, but the amount of revenue spent on games released on that platform**) 

>* Sports games are going to be the top selling genre (I'm including racing games in the sports genre umbrella)

>* Using 1990 as base I'm curious how much the video game sales revenue grew compared to 2016 on an annual basis. My guess is 2016's revenue is 4x-5x larger than 1990

>* Out of top regions in world, I think North America will have the most sales based off of population size, but wouldn't be surprised if the Japan market is actually larger because of how strong gaming culture is there

>* For each platform umbrella I think their top earning franchises will be as follows:
>>* Nintendo = Mario Kart releases
>>* Sony = Grand Theft Auto releases
>>* Microsoft = FIFA releases
>>* PC = World of Warcraft releases

In [28]:
import pandas as pd
import numpy as np
import re


# view data to get familiar with data types, etc.
video_game_sales = pd.read_csv('vgsales.csv', sep = ',')


video_game_sales.info()
video_game_sales.keys()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [42]:
# Query 1: Find the publisher with top aggregate sales from every game they've sold
# with region subtotal and global total as well


top_publishers = video_game_sales.groupby('Publisher').sum()[['NA_Sales', 
                 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].sort_values('Global_Sales', 
                 ascending = False).head(20)
top_publishers

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Publisher,,,,,
Nintendo,816.87,418.74,455.42,95.33,1786.56
Electronic Arts,595.07,371.27,14.04,129.77,1110.32
Activision,429.70,215.53,6.54,75.34,727.46
Sony Computer Entertainment,265.22,187.72,74.10,80.45,607.50
Ubisoft,253.43,163.32,7.50,50.26,474.72
Take-Two Interactive,220.49,118.14,5.83,55.24,399.54
THQ,208.77,94.73,5.01,32.14,340.77
Konami Digital Entertainment,92.16,69.69,91.30,30.31,283.64
Sega,109.40,82.00,57.03,24.52,272.99
Namco Bandai Games,69.52,42.63,127.07,14.69,254.09
Microsoft Game Studios,155.35,68.61,3.26,18.56,245.79
Capcom,78.59,39.22,68.08,14.84,200.89
Atari,110.04,27.12,10.71,9.01,157.22
Warner Bros. Interactive Entertainment,81.18,53.12,1.04,18.56,153.89
Square Enix,48.65,32.82,49.88,13.89,145.18
Disney Interactive Studios,71.34,34.64,0.56,13.18,119.96
Eidos Interactive,49.19,35.63,6.11,8.02,98.98
LucasArts,49.97,26.63,0.20,10.50,87.34
Bethesda Softworks,39.72,30.73,1.45,10.16,82.14
Midway Games,45.46,18.38,0.12,5.74,69.85

In [45]:
# Query 2: See which platform sold the most games and in what regions 

top_platforms = video_game_sales.groupby('Platform').sum()[['NA_Sales', 
                'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].sort_values('Global_Sales', 
                ascending = False).head(20)
top_platforms

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS2         583.84    339.29    139.20       193.44       1255.64
X360        601.05    280.58     12.43        85.54        979.96
PS3         392.26    343.71     79.99       141.93        957.84
Wii         507.71    268.38     69.35        80.61        926.71
DS          390.71    194.65    175.57        60.53        822.49
PS          336.51    213.60    139.82        40.91        730.66
GBA         187.54     75.25     47.33         7.73        318.50
PSP         108.99     68.25     76.79        42.19        296.28
PS4          96.80    123.70     14.30        43.36        278.10
PC           93.28    139.68      0.17        24.86        258.82
XB          186.69     60.95      1.38         8.72        258.26
GB          114.32     47.82     85.12         8.20        255.45
NES         125.94     21.15     98.65         5.31        251.07
3DS          78.87     58.52     97.35        12.63        247.46
N64         139.02     41.06     34.22         4.38        218.88
SNES         61.23     19.04    116.55         3.22        200.05
GC          133.46     38.71     21.58         5.18        199.36
XOne         83.19     45.65      0.34        11.92        141.06
2600         90.60      5.47      0.00         0.91         97.08
WiiU         38.32     24.23     12.79         6.45         81.86

In [46]:
# Query 3: Finding genre with top sales numbers across different regions in the world
top_genres = video_game_sales.groupby('Genre').sum()[['NA_Sales', 
                'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].sort_values('Global_Sales', 
                ascending = False).head(20)
top_genres

              NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Genre
Action          877.83    525.00    159.95       187.38       1751.18
Sports          683.35    376.85    135.37       134.97       1330.93
Shooter         582.60    313.27     38.28       102.69       1037.37
Role-Playing    327.28    188.06    352.31        59.61        927.37
Platform        447.05    201.63    130.77        51.59        831.37
Misc            410.24    215.98    107.76        75.32        809.96
Racing          359.42    238.39     56.69        77.27        732.04
Fighting        223.59    101.32     87.35        36.68        448.91
Simulation      183.31    113.38     63.70        31.52        392.20
Puzzle          123.78     50.78     57.31        12.55        244.95
Adventure       105.80     64.13     52.07        16.81        239.04
Strategy         68.70     45.34     49.46        11.36        175.12

In [ ]:
# Query 4: Compare total video game sales in 1990 to 2016 (the most recent year available)

year_filter = video_game_sales[(video_game_sales['Year'] == 1995.0) | (video_game_sales['Year'] == 2015.0)]
#year_filter

thirty_yr_growth = year_filter.groupby('Year').sum()[['NA_Sales', 
                'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].sort_values('Global_Sales', 
               ascending = False)
#thirty_yr_growth

top_selling_years = video_game_sales.groupby('Year').sum()[['NA_Sales', 
                'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].sort_values('Global_Sales', 
                ascending = False)
top_selling_years

#interesting!

In [72]:
# Query 5: Find which region has had most video game sales 

top_regions = video_game_sales.sum()[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
top_regions

<ipython-input-72-3f470dab8658>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  top_regions = video_game_sales.sum()[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]

NA_Sales       4392.95
EU_Sales       2434.13
JP_Sales       1291.02
Other_Sales     797.75
dtype: object

In [ ]:
# Query 6: Find top selling franchises for each platform umbrella
# Nintendo (SNES, N64, Wii, GB, etc.)
# Sony (PS, PS2, PS3, PSP, etc.)
# Microsoft (XB, XB360, XBOne, etc.)
# PC 

# Top 5 Franchises for each platform


top_nintendo_games = video_game_sales[video_game_sales['Publisher'] == 'Nintendo']


# used this line multiple times changing the string input in contains statement to group by different
# game title varitations and then summed sales after filtering dataframe to get totals
franchise_catalog = video_game_sales[(video_game_sales['Publisher'] == 'Nintendo') 
                    & (video_game_sales['Name'].str.contains('Donkey Kong'))]
franchise_catalog.sum()[['Global_Sales']]

Top 5 Nintendo franchises (total in millions):
>* Super Mario: 309.90 (original 1985 NES game has grossed over 40 million)
>* Wii Sports/Fit/Play: 211.57
>* Pokemon: 202.51
>* Mario Kart: 109.47
>* Zelda: 82.37

In [ ]:
# finding Sony's top selling franchises now 

sony_franchise_catalog = video_game_sales[(video_game_sales['Platform'].str.contains('PS')) & 
                         (video_game_sales['Name'].str.contains('Gran Turismo'))]
sony_franchise_catalog.sum()[['Global_Sales']]
sony_franchise_catalog

Top 5 Playstation franchises (total in millions):
>* Grand Theft Auto: 119.97
>* Call of Duty: 115.41
>* FIFA: 113.86
>* Final Fantasy: 76.89
>* Gran Turismo: 72.21

In [ ]:
# finding Microsoft's top selling franchises, again just have to change .contains() input statement with some
# variation of a game title to get total revenue for different game series

microsoft_franchise_catalog = video_game_sales[(video_game_sales['Platform'].str.startswith('X')) & 
                              (video_game_sales['Name'].str.contains('Mass Effect'))]
microsoft_franchise_catalog
#microsoft_franchise_catalog.sum()[['Global_Sales']]

Top 5 Xbox franchises (total in millions):
>* Call of Duty: 110.92
>* Halo: 66.39
>* FIFA: 43.88
>* Kinect: 39.28
>* Grand Theft Auto: 37.04

In [203]:
# Finding top selling franchises on PC

pc_top_sellers = video_game_sales[(video_game_sales['Platform'] == 'PC') & (video_game_sales['Name'].str.contains('Star Wars'))]
pc_top_sellers.head(40)
#pc_top_sellers.sum()[['Global_Sales']]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
479,480,Star Wars: The Old Republic,PC,2011.0,Role-Playing,Electronic Arts,1.58,1.01,0.0,0.38,2.97
874,876,Star Wars: Dark Forces,PC,1994.0,Shooter,LucasArts,1.09,0.77,0.0,0.09,1.95
3755,3757,Star Wars Battlefront (2015),PC,2015.0,Shooter,Electronic Arts,0.13,0.37,0.0,0.04,0.54
6596,6598,LEGO Star Wars III: The Clone Wars,PC,2011.0,Action,LucasArts,0.10,0.13,0.0,0.03,0.26
7611,7613,Star Wars: Battlefront,PC,2004.0,Shooter,LucasArts,0.06,0.12,0.0,0.02,0.20
8186,8188,Star Wars: Battlefront II,PC,2005.0,Shooter,LucasArts,0.02,0.13,0.0,0.03,0.18
9076,9078,Star Wars: Knights of the Old Republic,PC,2003.0,Role-Playing,LucasArts,0.01,0.10,0.0,0.02,0.14
10933,10935,Star Wars: Empire at War - Gold Pack,PC,2007.0,Strategy,LucasArts,0.01,0.06,0.0,0.01,0.09
11158,11160,Star Wars: Empire at War,PC,2006.0,Strategy,LucasArts,0.01,0.06,0.0,0.02,0.09
12348,12350,Star Wars Knights of the Old Republic II: The ...,PC,2005.0,Role-Playing,LucasArts,0.01,0.04,0.0,0.01,0.06
13038,13040,Star Wars: Republic Commando,PC,2005.0,Shooter,LucasArts,0.00,0.04,0.0,0.01,0.05
14089,14091,Star Wars Jedi Knight: Jedi Academy,PC,2003.0,Shooter,Activision,0.00,0.03,0.0,0.01,0.04
14529,14532,Star Wars: The Force Unleashed II,PC,2010.0,Action,LucasArts,0.03,0.00,0.0,0.00,0.03
14752,14755,Star Wars The Clone Wars: Republic Heroes,PC,2009.0,Action,LucasArts,0.00,0.02,0.0,0.00,0.03
14919,14922,Star Wars: Empire at War - Forces of Corruption,PC,2006.0,Strategy,LucasArts,0.00,0.02,0.0,0.00,0.02
15745,15748,LEGO Star Wars II: The Original Trilogy,PC,2006.0,Action,Activision,0.00,0.01,0.0,0.00,0.02
15787,15790,LEGO Star Wars: The Video Game,PC,2005.0,Action,Eidos Interactive,0.00,0.01,0.0,0.00,0.02

Top 5 PC franchises (total in millions):
>* The Sims: 37.43
>* World of Warcraft: 24.33
>* Call of Duty: 8.54
>* Diablo: 7.98
>* Star Wars: 6.69